<div class="flex flex-wrap gap-8 p-5 w-full mx-auto max-w-7xl justify-center">

<div class="flex space-x-5">
  <div class="min-w-50 w-50 align-self-start">
    <ul>
      <li>
        <a routerLink="/" [queryParams]="{category_id: null}">All Products</a>
      </li>
      @for (category of categories(); track category) {
        <li class="cursor-pointer hover:text-blue-500">
        <a routerLink="/" [queryParams]="{category_id: category.id}">{{ category.name }}</a>

      </li>
}
    </ul>
  </div>
   
  
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    @if (products().length > 0) {
      @for (product of products(); track $index) {
        <app-product [product]="product" (addToCart)="addToCart($event)" />
      }
    }
    @else {
      <div class="w-full min-w-50 text-center text-gray-500">No products found</div>
    }
  </div>

</div>

</div>